body{
    width: 100%;
    background-color: rgb(23, 23, 100);
    overflow: auto;
}
h1, h2, p , button{
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.origin{
    width: 90%;
    text-align: center;
    margin: 10px 5%;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
}
.difBtn, .question, .bossBtn{
    width: 90%;
    text-align: center;
    margin: 10px auto;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
}
.timer{
    border: black;
    border-style: solid;
    color: black;
    background-color: tan;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    opacity: .5;
}
.question{
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    font-size: 30px;
}
row{
    float: left;
    width: 90%;
    text-align: center;
    margin: 10px 5%;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    font-size: 30px;
}
.theBigOne{
    width: 60%;
    background-color: tan;
    opacity: .5;
    padding: 20px;
    position: fixed;
    left: 20%;
    top: 10%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.ans{
    width: 10%;
    text-align: center;
    margin: 10px 0;
    background-color: black;
    border-top: white;
    border-bottom: white;
    border-style: solid;
    color: white;
    float: left;
    padding: 10px 0;
}
.ansLo{
    width: 90%;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    background-color: black;
    border-top: white;
    border-bottom: white;
    border-style: solid;
    color: white;
    float: right;
}
.win, .lose, .bossBtn{
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
.hidden{
    visibility: hidden;
}
img{
    display: block;
    width: 100%;
    float: left;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    img {
        visibility: hidden;   
    }
    .question, .ans .ansLo{
        font-size: 15px;
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 25px;
    }
    .ans, .ansLo{
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 0;
    }
    p{
        font-size: 15px;
    }
    row{
        margin: 5px 5%;
    }
    .question{
        margin: 5px auto;
        padding: 5px 0;
    }
    .theBigOne{
        padding: 0px;
        left: 0;
        width: 100%;
        margin-bottom: 100px;
    }
    .timer{
        width: 100%;
    }
}