body{
    width: 100%;
}
h1, p , button{
    text-align: center;
}
.origin{
    width: 90%;
    text-align: center;
    margin: 10px 5%;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
}
.difBtn, .question, .bossBtn{
    width: 90%;
    text-align: center;
    margin: 10px auto;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
}
.question{
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    font-size: 30px;
}
row{
    float: left;
    width: 90%;
    text-align: center;
    margin: 10px 5%;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    font-size: 30px;
}
.theBigOne{
    width: 60%;
    margin: 5% auto;
    background-color: tan;
    opacity: .5;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.ans{
    width: 8.8%;
    text-align: center;
    margin: 10px 0;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    float: left;
    padding: 10px 0;
}
.ansLo{
    width: 90%;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    background-color: black;
    border: white;
    border-style: solid;
    color: white;
    float: right;
}

.hidden{
    visibility: hidden;
}